[submodule "docker-cloud-cli"]
	path = docker-cloud-cli
	url = git@github.com:AirWalk-Digital/docker-cloud-cli.git
[submodule "docker-hugo"]
	path = docker-hugo
	url = git@github.com:AirWalk-Digital/docker-hugo.git
[submodule "docker-aad-group-manager"]
	path = docker-aad-group-manager
	url = git@github.com:AirWalk-Digital/docker-aad-group-manager.git
[submodule "docker-master-data-id-assign"]
	path = docker-master-data-id-assign
	url = git@github.com:AirWalk-Digital/docker-master-data-id-assign.git
[submodule "docker-master-data-uploader"]
	path = docker-master-data-uploader
	url = git@github.com:AirWalk-Digital/docker-master-data-uploader.git
